body {
  font-family: 'Geomanist', arial, sans-serif;
  color: #222;
  background-color: #eee;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 4em;
  font-weight: 900;
  margin-bottom: 1em;
}

p {
  font-size: 1.9em;
  line-height: 1.7em;
}

header {
  background: linear-gradient(to bottom, rgba(0,0,0,0.7),rgba(0,0,0,0.2)), url(../img/bg01.jpg) no-repeat center fixed;
  background-size: cover;
  height: 100vh;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.2em;
}

.header-logo {
  font-family: "Birthstone Bounce";
  font-size: 3.5em;
  font-weight: 900;
  color: white;
  border: 3px solid white;
  border-radius: 5em;
  width: 1.3em;
  line-height: 1.3em;
  z-index: 5;
}

.header-logo:hover, .header-headline p.welcome:hover, .header-menu li a:hover, .contact-left-block a:hover {
  color:fuchsia;
}

.header-logo:hover {
  border: 3px solid fuchsia;
}

nav {
  z-index: 6;
}

.header-menu {
  display: flex;
}

.header-menu li a {
  margin-right: 30px;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
}

.header-headline {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-headline p {
  font-size: 3em;
  text-align: center;
  color: white; 
  align-items: center;
  line-height: 0.6em;
}

.header-headline p.welcome {
  font-size: 11em;
  font-weight: 900;
  margin: 100px 0 70px;
  color: white;
  text-transform: uppercase;
}

main section, footer {
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 85%;
  margin: auto;
  padding: 100px 30px;
}

.about-right {
  margin-left: 150px;
}

.about-left p {
  font-size: 7em;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.6em;
  margin: 2px 0;
}

.about-left img {
  width: 380px;
  border: 10px solid #222;
  border-radius: 0 180px 0 180px;
  margin: 0 0 20px 0;
}

.skills2 {
  background-color: #FEC260;
}

.skills {
  background-color: #2A0944;
  color: white;
}

.skills-left, .skills-right {
  display: flex;
  width: 50%;
} 

.skills-left-all, .skills-right-all {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
}

.skills-left-all .item, .skills-right-all .item {
  padding: 15px 20px 10px;
  margin: 0 15px 0 0;
  font-size: 2.3em;
  border: 2px solid white;
  border-radius: 0 40px 0 40px;
}

.skills-left-all .item:hover, .skills-right-all .item:hover {
  color:fuchsia;
  border: 2px solid fuchsia;
}

.skills-left-title, .skills-right-title {
  width: 20%;
  display: flex;
  align-items:center;
  justify-content: center;
  white-space: nowrap;
}

.skills-left-title p, .skills-right-title p {
  font-size: 8em;
  font-weight: 900;
  text-transform: uppercase;
  color: #FEC260;
  margin-top: -200px;
}

.skills-left-title p {
  transform: rotate(90deg);
}

.skills-right-title p {
  transform: rotate(270deg);
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
}

footer i {
  margin: 0 10px;
}

footer a {
  color: white;
}

.contact-left, .contact-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-right p {
  text-align: end;
  font-size: 10em;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.65em;
}

.lifestyle {
  background: linear-gradient(to bottom, rgba(34,34,34,0.6), rgba(34,34,34,1)), url(../img/mosaico2-tiny.jpg) no-repeat center;
  background-size: cover;
  color: white;
}

.lifestyle-left, .lifestyle-right {
  width: 50%;
  align-self: center;
}

.lifestyle-left p {
  text-transform: uppercase;
  font-size: 10em;
  font-weight: 900;
  line-height: 0.35em;
}

