body {
  font-family: 'Geomanist', arial, sans-serif;
  color: #222;
  background-color: #eee;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 60px;
  margin-bottom: 50px;
}

p {
  font-size: 30px;
  margin: 50px 0;
  line-height: 45px;
}

header {
  /*linear-gradient(to bottom, #000f, #0005)*/
  background: linear-gradient(to bottom, #0007, #0002), url(../img/bg01.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

header .header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

header .header-logo {
  font-family: "Birthstone Bounce";
  font-size: 50px;
  font-weight: 900;
  color: white;
  border: 3px solid white;
  border-radius: 100px;
  width: 75px;
}

header .header-logo:hover, header .header-headline p.welcome:hover, header .header-menu li a:hover, .contact-left-block a:hover {
  color:fuchsia;
}

header .header-menu {
  display: flex;
}

header .header-menu li a {
  margin-right: 30px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
}

header .header-headline {
  padding: 100px;
}

header .header-headline p {
  font-size: 50px;
  text-align: center;
  color: white;
}

header .header-headline p.welcome {
  font-size: 170px;
  font-weight: 900;
  margin: 100px 0 70px;
  color: white;
}

main section, footer {
  height: 100vh;
  width: 100%;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 85%;
  margin: auto;
  padding: 100px 30px;
}

.about-right {
  margin-left: 150px;
}

.about-left p {
  font-size: 110px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 75px;
  margin: 2px 0;
}

.about-left img {
  width: 380px;
  border: 10px solid #222;
  border-radius: 0 180px 0 180px;
  margin: 0 0 20px 0;
}

.skills {
  background-color: #2A0944;
  color: white;
}

.skills-left, .skills-right {
  width: 50%;
  display: flex;
  align-items: center;
}

.skills-left-all {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color:cornflowerblue;
}

.skills-left-all p {
  margin-right: 30px;
  padding: 15px;
  font-size: 50px;
  border: 2px solid white;
  border-radius: 0 40px 0 40px;
}

.skills-left-title  {
  width: 20%;
  height: 100%;
  background-color: green;
  justify-content: center;
}

.skills-left-title p {
  transform: rotate(90deg);
  font-size: 7.5em;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 100px;
  background-color: yellow;
}

.skills-right-all {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color:cornflowerblue;
}

.skills-right-all p {
  margin-right: 30px;
  padding: 15px;
  font-size: 50px;
  border: 2px solid white;
  border-radius: 0 40px 0 40px;
}

.skills-right-title  {
  width: 700px;
  background-color: green;
  display: flex;
  align-items:center;
}

.skills-right-title p {
  transform: rotate(270deg);
  font-size: 7.5em;
  font-weight: 900;
  text-transform: uppercase;
  margin-left: -100px;
  background-color: yellow;
}

.skills-left {
  background-color: #FEC260;
}
.skills-right {
  background-color: aquamarine;
}
.skills2 {
  background-color: #FEC260;
}

.skills-left8{
  display: flex;
  width: 50%;
} 
.skills-left-all8 {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
  background-color: orange;
}
.skills-left-all8 .item {
  padding: 10px 15px 6px;
  margin: 0 15px 0 0;
  font-size: 40px;
  border: 2px solid white;
  border-radius: 0 40px 0 40px;
}
.skills-left-title8 {
  width: 20%;
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: aqua;
  white-space: nowrap;
}
.skills-left-title8 p {
  transform: rotate(90deg);
  font-size: 7em;
  background-color: red;
}

.skills-right8{
  display: flex;
  width: 50%;
}
.skills-right-all8 {
  width: 80%;
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: orange;
}
.skills-right-all8 p {
  margin-right: 30px;
  padding: 15px;
  font-size: 50px;
  border: 2px solid white;
  border-radius: 0 40px 0 40px;
}
.skills-right-title8 {
  width: 20%;
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: aqua;
  white-space: nowrap;
}
.skills-right-title8 p {
  transform: rotate(270deg);
  font-size: 7em;
  background-color: red;
}

/* .teste p {
  transform: rotate(270deg);
  font-size: 9em;
  margin-left: -350px;
  background-color: red;
} */

footer {
  background-color: #222;
  color: white;
  text-align: center;
}

footer i {
  margin: 0 10px;
}

footer a {
  color: white;
}

.contact-left, .contact-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-right p {
  text-align: end;
  font-size: 150px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 100px;
}
