body {
  font-family: Roboto, sans-serif;
}

.header, .exercises,.footer {
  width: 85%;
  margin: auto;
  text-align: center;
 
}

.exercises__content {
  height: 80vh;
  overflow: hidden;
}

.exercises__title {
  padding-top: 50px;
}

.exercises__image {
  width: 100%;
}

.footer__copyright {
  margin-top: 300px;
  padding: 30px;
}