body {
  font-family: Roboto, sans-serif;
}

.header, .exercises,.footer {
  width: 85%;
  margin: auto;
  text-align: center;
}

.header__title {
  padding: 1.5em 0;
}

.exercises {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exercises__content {
  width: 33%;
  height: 40vh;
  overflow: hidden;
  margin-right: 2em;
  border: 1px solid #ccc;
  /* background: yellow; */
}

.exercises__image {
  width: 200%;
  /* object-fit: cover; */
}

.footer__copyright {
  margin-top: 300px;
  padding: 30px;
}